/* App.css */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-map {
  
}

.mini-map {
  display:flex;
  flex-direction: column;
  filter: blur(1px);
}
.mini-row{
  display:flex;
}
.cell {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.mini-cell.path,
.cell.path {
  background-color: #ffffff; /* Path color */
}

.mini-cell{
  width:4px;
  height:4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.mini-cell.wall,
.cell.wall {
  background-color: #000; /* Wall color */
}

.hero {
  background-color: #00ff00; /* Hero color */
}

.mini-cell.prize.illuminated {
  background-color: #ff00ff; /* Prize color */
}

.current-map {
  display:flex;
  flex-direction: column;
}
.overview{
  display:flex;
  flex-direction: column;
  .cell{
    width:7px;
    height:7px; 
  }
}
.row {
  display: flex;
}

.cell.hero {
  background-color: #c39310;
}

.cell.prize {
  background-color: #ff00ff;
  opacity: 1 !important;
}

.mini-cell.illuminated{
  background-color: #339;
}
.mini-cell.hero{
  background-color: #095f16;
  box-shadow: 0 0 10px 10px #55715d;
  z-index:999999999999999999999999999999999;
}